@mixin wide { flex-grow: 2; }

$headerHeight: 5rem;
$imgSideLength: $headerHeight * 1.4;

$hFooter: hFooter;
$titleIcon: titleIcon;
$navigation: nav;

#title-bar {
	position: fixed;
	z-index: 10;
	top: 0;

	height: $headerHeight;
	width: 100%;

	display: flex;
	justify-content: center;

	.bkg {
		position: absolute;
		z-index: 5;

		height: 100%;
		width: 100%;

		background-color: lightblue;
		clip-path: polygon(100%  0, 100% 100%, 50% 75%, 0 100%, 0 0);

	}

	.wrapper {
		position: absolute;
		z-index: 10;

		height: 100%;
		width: 89%;
		max-width: 80rem;

		display: grid;
		grid-template-columns: 40% auto 40%;
		grid-template-rows: 100%;
		grid-template-areas: "#{$hFooter} #{$titleIcon} #{$navigation}";
	}
}

#h-footer {
	grid-area: $hFooter;
}

#title-icon {
	grid-area: $titleIcon;

	display: flex;
	justify-content: center;

	img {
		height: $imgSideLength;
		width: $imgSideLength;
	}
}

#navigation {
	@include wide;

	grid-area: $navigation;
}


$navItemWidth: 5rem;

#nav-bar {
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	li {
		width: $navItemWidth;

		margin: 0 .2rem;

		a {
			height: 70%;
			width: 100%;

			display: flex;
			align-items: center;

			background-color: black;
			
			text-decoration: none;

			span {
				width: 100%;

				color: white;
				font-size: 1zrem;
				text-decoration: none;
				text-align: center;
			}
		}
	}
}
