:root {
  --games-bkg: black;
  --card-bradius: 1rem;
}

#splash {
  position: fixed;
  z-index: -5;
  top: 0;
  height: 100%;
  width: 100%;
  background: yellow url("../img/2D_lgpurple_full.png") center no-repeat fixed;
}
#splash .filter {
  height: 100%;
  width: 100%;
  background-color: #000A;
}

main {
  margin-top: 80vh;
}
main > h1.title {
  height: 20vh;
  background-color: darkgray;
  display: flex;
  align-items: center;
}
main > h1.title span {
  width: 100%;
  font-size: 5rem;
  text-align: center;
}

#games {
  min-height: 10rem;
  width: 92%;
  margin: 1rem auto 0;
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  background-color: var(--games-bkg);
}

.card {
  position: relative;
  height: 13rem;
  width: 23rem;
  background-color: yellowgreen;
  border-radius: var(--card-bradius);
}
.card:hover {
  transform: translateY(-1rem);
}
.card:hover ~ .card {
  transform: translateX(4rem);
}
.card:not(:first-child) {
  margin-left: -14rem;
  box-shadow: -1rem 0 2rem var(--games-bkg);
}
.card .text-bkg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 66%;
  background-color: yellow;
  border-radius: 0 var(--card-bradius) var(--card-bradius) 0;
}

.card-icon {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}

.card-art {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 45%;
  background-color: yellow;
  border-radius: var(--card-bradius) 0 0 var(--card-bradius);
}

.card-header {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  height: 4rem;
  width: 65%;
  display: flex;
  align-items: center;
  background-color: blue;
}
.card-header > * {
  width: 100%;
  font-size: 1.4rem;
  text-align: right;
}

.card-desc {
  position: absolute;
  bottom: 0.2rem;
  right: 0.4rem;
  height: 60%;
  width: 55%;
  text-align: justify;
  background-color: red;
}